In [1]:
import pandas as pd

In [3]:
bond = pd.read_csv('jamesbond.csv')

In [4]:
bond.head(3)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [6]:
bond.set_index('Film',inplace = True)

In [7]:
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [12]:
bond = pd.read_csv('jamesbond.csv',index_col="Film")
bond.sort_index(inplace=True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [17]:
bond.loc['Goldfinger']

Year                         1964
Actor                Sean Connery
Director             Guy Hamilton
Box Office                  820.4
Budget                       18.6
Bond Actor Salary             3.2
Name: Goldfinger, dtype: object

In [18]:
bond.loc['Casino Royale' : 'Goldfinger']

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [28]:
bond = pd.read_csv('jamesbond.csv',index_col='Film')
bond.sort_index(inplace=True)

In [29]:
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [32]:
bond.loc['Goldfinger',["Director", 'Box Office']]

Director      Guy Hamilton
Box Office           820.4
Name: Goldfinger, dtype: object

In [33]:
bond.iloc[14,2]

'John Glen'

In [37]:
bond.ix['Dr. No']

C:\Users\kmuthu2\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Year                              1962
Actor                Karthikeyan Muthu
Director                 Terence Young
Box Office                       448.8
Budget                               7
Bond Actor Salary                  0.6
Name: Dr. No, dtype: object

In [36]:
bond.ix['Dr. No',"Actor"] = "Karthikeyan Muthu"

C:\Users\kmuthu2\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [41]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [42]:
mask = bond["Actor"] == "Sean Connery"

In [43]:
mask

Film
A View to a Kill                   False
Casino Royale                      False
Casino Royale                      False
Diamonds Are Forever                True
Die Another Day                    False
Dr. No                              True
For Your Eyes Only                 False
From Russia with Love               True
GoldenEye                          False
Goldfinger                          True
Licence to Kill                    False
Live and Let Die                   False
Moonraker                          False
Never Say Never Again               True
Octopussy                          False
On Her Majesty's Secret Service    False
Quantum of Solace                  False
Skyfall                            False
Spectre                            False
The Living Daylights               False
The Man with the Golden Gun        False
The Spy Who Loved Me               False
The World Is Not Enough            False
Thunderball                         True
Tomorrow Never Dies                False
You Only Live Twice                 True
Name: Actor, dtype: bool

In [44]:
bond.ix[mask,"Actor"] = "Karthikeyan Muthu"

C:\Users\kmuthu2\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [45]:
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Karthikeyan Muthu,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Karthikeyan Muthu,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Karthikeyan Muthu,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Karthikeyan Muthu,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Karthikeyan Muthu,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Karthikeyan Muthu,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Karthikeyan Muthu,Lewis Gilbert,514.2,59.9,4.4

In [46]:
bond.to_csv('KarthikeyanMuthu.csv',sep=',')

In [48]:
km = pd.read_csv('KarthikeyanMuthu.csv')

In [49]:
km

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
1,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
2,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
3,Diamonds Are Forever,1971,Karthikeyan Muthu,Guy Hamilton,442.5,34.7,5.8
4,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
5,Dr. No,1962,Karthikeyan Muthu,Terence Young,448.8,7.0,0.6
6,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
7,From Russia with Love,1963,Karthikeyan Muthu,Terence Young,543.8,12.6,1.6
8,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
9,Goldfinger,1964,Karthikeyan Muthu,Guy Hamilton,820.4,18.6,3.2
10,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
11,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
12,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
13,Never Say Never Again,1983,Karthikeyan Muthu,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
16,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
17,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
18,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
19,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
20,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
21,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
22,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
23,Thunderball,1965,Karthikeyan Muthu,Terence Young,848.1,41.9,4.7
24,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
25,You Only Live Twice,1967,Karthikeyan Muthu,Lewis Gilbert,514.2,59.9,4.4

In [53]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [51]:
bond.drop('A View to a Kill')

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [52]:
bond.drop("Box Office",axis = 1)

,Year,Actor,Director,Budget,Bond Actor Salary
Film,,,,,
A View to a Kill,1985,Roger Moore,John Glen,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,59.9,4.4

In [54]:
a = bond.pop('Box Office')

In [55]:
a

Film
A View to a Kill                   275.2
Casino Royale                      581.5
Casino Royale                      315.0
Diamonds Are Forever               442.5
Die Another Day                    465.4
Dr. No                             448.8
For Your Eyes Only                 449.4
From Russia with Love              543.8
GoldenEye                          518.5
Goldfinger                         820.4
Licence to Kill                    250.9
Live and Let Die                   460.3
Moonraker                          535.0
Never Say Never Again              380.0
Octopussy                          373.8
On Her Majesty's Secret Service    291.5
Quantum of Solace                  514.2
Skyfall                            943.5
Spectre                            726.7
The Living Daylights               313.5
The Man with the Golden Gun        334.0
The Spy Who Loved Me               533.0
The World Is Not Enough            439.5
Thunderball                        848.1
Tomorrow Never Dies                463.2
You Only Live Twice                514.2
Name: Box Office, dtype: float64

In [56]:
bond

,Year,Actor,Director,Budget,Bond Actor Salary
Film,,,,,
A View to a Kill,1985,Roger Moore,John Glen,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,59.9,4.4

In [57]:
del bond['Director']

In [58]:
bond

,Year,Actor,Budget,Bond Actor Salary
Film,,,,
A View to a Kill,1985,Roger Moore,54.5,9.1
Casino Royale,2006,Daniel Craig,145.3,3.3
Casino Royale,1967,David Niven,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,34.7,5.8
Die Another Day,2002,Pierce Brosnan,154.2,17.9
Dr. No,1962,Sean Connery,7.0,0.6
For Your Eyes Only,1981,Roger Moore,60.2,NaN
From Russia with Love,1963,Sean Connery,12.6,1.6
GoldenEye,1995,Pierce Brosnan,76.9,5.1
Goldfinger,1964,Sean Connery,18.6,3.2
Licence to Kill,1989,Timothy Dalton,56.7,7.9
Live and Let Die,1973,Roger Moore,30.8,NaN
Moonraker,1979,Roger Moore,91.5,NaN
Never Say Never Again,1983,Sean Connery,86.0,NaN
Octopussy,1983,Roger Moore,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,37.3,0.6
Quantum of Solace,2008,Daniel Craig,181.4,8.1
Skyfall,2012,Daniel Craig,170.2,14.5
Spectre,2015,Daniel Craig,206.3,NaN
The Living Daylights,1987,Timothy Dalton,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,158.3,13.5
Thunderball,1965,Sean Connery,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,133.9,10.0
You Only Live Twice,1967,Sean Connery,59.9,4.4

## Create random sample

In [59]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [61]:
bond.sample(n = 5)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN

In [63]:
bond.sample(frac = 0.45)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8

In [64]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [68]:
bond.sort_values("Box Office", inplace=True,ascending = False)

In [70]:
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [71]:
bond.nlargest(3, columns='Box Office')

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [78]:
bond.nlargest(3,'Budget')

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5

In [79]:
bond.nlargest(6,'Bond Actor Salary')

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1

In [80]:
mask = bond["Actor"] == "Sean Connery"

In [81]:
bond[mask]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN

In [82]:
bond.where(mask)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Skyfall,NaN,NaN,NaN,NaN,NaN,NaN
Thunderball,1965.0,Sean Connery,Terence Young,848.1,41.9,4.7
Goldfinger,1964.0,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Spectre,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
From Russia with Love,1963.0,Sean Connery,Terence Young,543.8,12.6,1.6
Moonraker,NaN,NaN,NaN,NaN,NaN,NaN
The Spy Who Loved Me,NaN,NaN,NaN,NaN,NaN,NaN
GoldenEye,NaN,NaN,NaN,NaN,NaN,NaN
You Only Live Twice,1967.0,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
Quantum of Solace,NaN,NaN,NaN,NaN,NaN,NaN
Die Another Day,NaN,NaN,NaN,NaN,NaN,NaN
Tomorrow Never Dies,NaN,NaN,NaN,NaN,NaN,NaN
Live and Let Die,NaN,NaN,NaN,NaN,NaN,NaN
For Your Eyes Only,NaN,NaN,NaN,NaN,NaN,NaN
Dr. No,1962.0,Sean Connery,Terence Young,448.8,7.0,0.6
Diamonds Are Forever,1971.0,Sean Connery,Guy Hamilton,442.5,34.7,5.8
The World Is Not Enough,NaN,NaN,NaN,NaN,NaN,NaN
Never Say Never Again,1983.0,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,NaN,NaN,NaN,NaN,NaN,NaN
The Man with the Golden Gun,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
The Living Daylights,NaN,NaN,NaN,NaN,NaN,NaN
On Her Majesty's Secret Service,NaN,NaN,NaN,NaN,NaN,NaN
A View to a Kill,NaN,NaN,NaN,NaN,NaN,NaN
Licence to Kill,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
bond.columns = [column_name.replace(" ","_") for column_name in bond.columns]

In [85]:
bond

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9

In [87]:
bond.query('Director == "Sam Mendes"')

         Year         Actor    Director  Box_Office  Budget  Bond_Actor_Salary
Film
Skyfall  2012  Daniel Craig  Sam Mendes       943.5   170.2               14.5
Spectre  2015  Daniel Craig  Sam Mendes       726.7   206.3                NaN

In [89]:
bond.query('Director == "Sam Mendes" and Actor == "Daniel Craig"')

         Year         Actor    Director  Box_Office  Budget  Bond_Actor_Salary
Film
Skyfall  2012  Daniel Craig  Sam Mendes       943.5   170.2               14.5
Spectre  2015  Daniel Craig  Sam Mendes       726.7   206.3                NaN

In [90]:
bond.query('Director == "Sam Mendes" or Actor == "Daniel Craig"')

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1

In [91]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [92]:
def to_million(num):
    return str(num) + "Millions"

In [94]:
bond["Box Office"] = bond["Box Office"].apply(to_million)

In [95]:
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2Millions,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5Millions,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0Millions,85.0,NaN

In [96]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [99]:
def good_movie(row):
    actor = row[1]
    if actor == "Daniel Craig":
        return "Best Movie"
    else:
        return "Good"
    
bond.apply(good_movie,axis=1)

Film
A View to a Kill                         Good
Casino Royale                      Best Movie
Casino Royale                            Good
Diamonds Are Forever                     Good
Die Another Day                          Good
Dr. No                                   Good
For Your Eyes Only                       Good
From Russia with Love                    Good
GoldenEye                                Good
Goldfinger                               Good
Licence to Kill                          Good
Live and Let Die                         Good
Moonraker                                Good
Never Say Never Again                    Good
Octopussy                                Good
On Her Majesty's Secret Service          Good
Quantum of Solace                  Best Movie
Skyfall                            Best Movie
Spectre                            Best Movie
The Living Daylights                     Good
The Man with the Golden Gun              Good
The Spy Who Loved Me                     Good
The World Is Not Enough                  Good
Thunderball                              Good
Tomorrow Never Dies                      Good
You Only Live Twice                      Good
dtype: object

In [100]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [101]:
abc = bond['Director'].copy()

In [102]:
abc

Film
A View to a Kill                            John Glen
Casino Royale                         Martin Campbell
Casino Royale                              Ken Hughes
Diamonds Are Forever                     Guy Hamilton
Die Another Day                          Lee Tamahori
Dr. No                                  Terence Young
For Your Eyes Only                          John Glen
From Russia with Love                   Terence Young
GoldenEye                             Martin Campbell
Goldfinger                               Guy Hamilton
Licence to Kill                             John Glen
Live and Let Die                         Guy Hamilton
Moonraker                               Lewis Gilbert
Never Say Never Again                  Irvin Kershner
Octopussy                                   John Glen
On Her Majesty's Secret Service         Peter R. Hunt
Quantum of Solace                        Marc Forster
Skyfall                                    Sam Mendes
Spectre                                    Sam Mendes
The Living Daylights                        John Glen
The Man with the Golden Gun              Guy Hamilton
The Spy Who Loved Me                    Lewis Gilbert
The World Is Not Enough                 Michael Apted
Thunderball                             Terence Young
Tomorrow Never Dies                Roger Spottiswoode
You Only Live Twice                     Lewis Gilbert
Name: Director, dtype: object