In [1]:
import pandas as pd
import datetime as dt

In [2]:
from pandas_datareader import data
from pandas.tseries.offsets import *

In [3]:
company = "MSFT" # Stock market symbol of microsoft
start = '2010-1-1'
end = '2019-2-13'

stocks = data.DataReader(name=company,data_source="yahoo",start=start,end=end)
stocks

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2009-12-31,30.990000,30.480000,30.980000,30.480000,31929700.0,24.345514
2010-01-04,31.100000,30.590000,30.620001,30.950001,38409100.0,24.720928
2010-01-05,31.100000,30.639999,30.850000,30.959999,49749600.0,24.728914
2010-01-06,31.080000,30.520000,30.879999,30.770000,58182400.0,24.577150
2010-01-07,30.700001,30.190001,30.629999,30.450001,50559700.0,24.321552
2010-01-08,30.879999,30.240000,30.280001,30.660000,51197400.0,24.489288
2010-01-11,30.760000,30.120001,30.709999,30.270000,68754700.0,24.177786
2010-01-12,30.400000,29.910000,30.150000,30.070000,65912100.0,24.018032
2010-01-13,30.520000,30.010000,30.260000,30.350000,51863500.0,24.241684
2010-01-14,31.100000,30.260000,30.309999,30.959999,63228100.0,24.728914
2010-01-15,31.240000,30.709999,31.080000,30.860001,79913200.0,24.649038
2010-01-19,31.240000,30.680000,30.750000,31.100000,46575700.0,24.840738
2010-01-20,30.940001,30.309999,30.809999,30.590000,54849500.0,24.433378
2010-01-21,30.719999,30.000000,30.610001,30.010000,73086700.0,23.970112
2010-01-22,30.200001,28.840000,30.000000,28.959999,102004600.0,23.131437
2010-01-25,29.660000,29.100000,29.240000,29.320000,63373000.0,23.418983
2010-01-26,29.850000,29.090000,29.200001,29.500000,66639900.0,23.562756
2010-01-27,29.820000,29.020000,29.350000,29.670000,63949500.0,23.698549
2010-01-28,29.870001,28.889999,29.840000,29.160000,117513700.0,23.291180
2010-01-29,29.920000,27.660000,29.900000,28.180000,193888500.0,22.508421
2010-02-01,28.480000,27.920000,28.389999,28.410000,85931100.0,22.692129
2010-02-02,28.500000,28.139999,28.370001,28.459999,54413700.0,22.732069
2010-02-03,28.790001,28.120001,28.260000,28.629999,61397900.0,22.867855
2010-02-04,28.500000,27.809999,28.379999,27.840000,77850000.0,22.236853
2010-02-05,28.280001,27.570000,28.000000,28.020000,80960100.0,22.380629
2010-02-08,28.080000,27.570000,28.010000,27.719999,52820600.0,22.141001
2010-02-09,28.340000,27.750000,27.969999,28.010000,59195800.0,22.372641
2010-02-10,28.240000,27.840000,28.030001,27.990000,48591300.0,22.356657
2010-02-11,28.400000,27.700001,27.930000,28.120001,65993700.0,22.460506
2010-02-12,28.059999,27.580000,27.809999,27.930000,81117200.0,22.308741
...,...,...,...,...,...,...
2019-01-02,101.750000,98.940002,99.550003,101.120003,35329300.0,101.120003
2019-01-03,100.190002,97.199997,100.099998,97.400002,42579100.0,97.400002
2019-01-04,102.510002,98.930000,99.720001,101.930000,44060600.0,101.930000
2019-01-07,103.269997,100.980003,101.639999,102.059998,35656100.0,102.059998
2019-01-08,103.970001,101.709999,103.040001,102.800003,31514400.0,102.800003
2019-01-09,104.879997,103.239998,103.860001,104.269997,32280800.0,104.269997
2019-01-10,103.750000,102.379997,103.220001,103.599998,30067600.0,103.599998
2019-01-11,103.440002,101.639999,103.190002,102.800003,28314200.0,102.800003
2019-01-14,102.870003,101.260002,101.900002,102.050003,28437100.0,102.050003
2019-01-15,105.050003,101.879997,102.510002,105.010002,31587600.0,105.010002
2019-01-16,106.260002,104.959999,105.260002,105.379997,29853900.0,105.379997
2019-01-17,106.629997,104.760002,105.000000,106.120003,28393000.0,106.120003
2019-01-18,107.900002,105.910004,107.459999,107.709999,37427600.0,107.709999
2019-01-22,107.099998,104.860001,106.750000,105.680000,32371300.0,105.680000
2019-01-23,107.040001,105.339996,106.120003,106.709999,25874300.0,106.709999
2019-01-24,107.000000,105.339996,106.860001,106.199997,23164800.0,106.199997
2019-01-25,107.879997,106.199997,107.239998,107.169998,31225600.0,107.169998
2019-01-28,106.480003,104.660004,106.260002,105.080002,29476700.0,105.080002
2019-01-29,104.970001,102.169998,104.879997,102.940002,31490500.0,102.940002
2019-01-30,106.379997,104.330002,104.620003,106.379997,49471900.0,106.379997
2019-01-31,105.220001,103.180000,103.800003,104.430000,55636400.0,104.430000
2019-02-01,104.099998,102.349998,103.779999,102.779999,35535700.0,102.779999
2019-02-04,105.800003,102.769997,102.870003,105.739998,31315100.0,105.739998
2019-02-05,107.269997,105.959999,106.059998,107.220001,27325400.0,107.220001
2019-02-06,107.000000,105.529999,107.000000,106.029999,20609800.0,106.029999
2019-02-07,105.589996,104.290001,105.190002,105.269997,29760700.0,105.269997
2019-02-08,105.779999,104.260002,104.389999,105.669998,21461100.0,105.669998
2019-02-11,106.580002,104.970001,106.199997,105.250000,18914100.0,105.250000
2019-02-12,107.139999,105.480003,106.139999,106.889999,25021300.0,106.889999
2019-02-13,107.779999,106.950203,107.500000,107.220001,6004158.0,107.220001

In [4]:
stocks.values

array([[3.09899998e+01, 3.04799995e+01, 3.09799995e+01, 3.04799995e+01,
        3.19297000e+07, 2.43455143e+01],
       [3.11000004e+01, 3.05900002e+01, 3.06200008e+01, 3.09500008e+01,
        3.84091000e+07, 2.47209282e+01],
       [3.11000004e+01, 3.06399994e+01, 3.08500004e+01, 3.09599991e+01,
        4.97496000e+07, 2.47289143e+01],
       ...,
       [1.06580002e+02, 1.04970001e+02, 1.06199997e+02, 1.05250000e+02,
        1.89141000e+07, 1.05250000e+02],
       [1.07139999e+02, 1.05480003e+02, 1.06139999e+02, 1.06889999e+02,
        2.50213000e+07, 1.06889999e+02],
       [1.07779999e+02, 1.06950203e+02, 1.07500000e+02, 1.07220001e+02,
        6.00415800e+06, 1.07220001e+02]])

In [5]:
stocks.columns

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [6]:
stocks.index

DatetimeIndex(['2009-12-31', '2010-01-04', '2010-01-05', '2010-01-06',
               '2010-01-07', '2010-01-08', '2010-01-11', '2010-01-12',
               '2010-01-13', '2010-01-14',
               ...
               '2019-01-31', '2019-02-01', '2019-02-04', '2019-02-05',
               '2019-02-06', '2019-02-07', '2019-02-08', '2019-02-11',
               '2019-02-12', '2019-02-13'],
              dtype='datetime64[ns]', name='Date', length=2295, freq=None)

In [7]:
stocks.index[0]

Timestamp('2009-12-31 00:00:00')

In [8]:
stocks.axes

[DatetimeIndex(['2009-12-31', '2010-01-04', '2010-01-05', '2010-01-06',
                '2010-01-07', '2010-01-08', '2010-01-11', '2010-01-12',
                '2010-01-13', '2010-01-14',
                ...
                '2019-01-31', '2019-02-01', '2019-02-04', '2019-02-05',
                '2019-02-06', '2019-02-07', '2019-02-08', '2019-02-11',
                '2019-02-12', '2019-02-13'],
               dtype='datetime64[ns]', name='Date', length=2295, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

## Selecting from a dataframe with a DateTimeIndex

In [9]:
stocks = data.DataReader(name=company,data_source="yahoo",start=start,end=end)
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.99  30.480000  30.980000  30.480000  31929700.0  24.345514
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  24.720928
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  24.728914

In [10]:
stocks.loc["2014-3-3"]

High         3.813000e+01
Low          3.749000e+01
Open         3.792000e+01
Close        3.778000e+01
Volume       2.971750e+07
Adj Close    3.375268e+01
Name: 2014-03-03 00:00:00, dtype: float64

In [11]:
stocks.loc["2016-1-1"]

# Gives error because that day is not business day so stock market was not open on that day

KeyError: '2016-1-1'

In [ ]:
stocks.loc['2011-1-1':'2012-1-1']

In [ ]:
birthdays = pd.date_range(start='1997-05-16',end='2018-12-31',freq=pd.DateOffset(years = 1))
# To get all my bdays betwwen 1997 and 2018

In [ ]:
mask = stocks.index.isin(birthdays)

In [ ]:
stocks[mask]

## Timestamp object attributes

In [ ]:
stocks = data.DataReader(name=company,data_source="yahoo",start=start,end=end)
stocks.head(3)

In [ ]:
someday = stocks.index[500]
someday

In [ ]:
someday.day

In [ ]:
someday.month

In [ ]:
someday.year

In [ ]:
someday.hour

In [ ]:
someday.weekday_name

In [ ]:
stocks.insert(0,"Day of week",stocks.index.weekday_name)

In [ ]:
stocks.head()

In [ ]:
stocks.insert(1,"Start of month",stocks.index.is_month_start)

In [ ]:
stocks

In [ ]:
stocks[stocks["Start of month"]]
#Gives stock value in every month start

## .truncate() method

In [ ]:
stocks = data.DataReader(name=company,data_source="yahoo",start=start,end=end)
stocks.head(3)

In [ ]:
stocks.truncate(before="2011-2-5",after="2011-2-28")

## pd.DateOffset object

In [ ]:
stocks = data.DataReader(name="GOOG",data_source="yahoo",start=dt.date(2000,1,1),end=dt.datetime.now())
stocks.head(3)

In [ ]:
stocks.index

In [ ]:
stocks.index + pd.DateOffset(days=5)

In [ ]:
stocks.index + pd.DateOffset(weeks=2)

In [ ]:
stocks.index - pd.DateOffset(weeks=2)

In [ ]:
stocks.index - pd.DateOffset(years=1,month=3,days=10)

In [ ]:
stocks = data.DataReader(name="GOOG",data_source="yahoo",start=dt.date(2000,1,1),end=dt.datetime.now())
stocks.head(3)

In [12]:
stocks.index + MonthEnd()
#Month end works because we already imported
#from pandas.tseries.offsets import *

DatetimeIndex(['2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31',
               ...
               '2019-02-28', '2019-02-28', '2019-02-28', '2019-02-28',
               '2019-02-28', '2019-02-28', '2019-02-28', '2019-02-28',
               '2019-02-28', '2019-02-28'],
              dtype='datetime64[ns]', name='Date', length=2295, freq=None)

In [13]:
stocks.index + MonthBegin()

DatetimeIndex(['2010-01-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01',
               ...
               '2019-02-01', '2019-03-01', '2019-03-01', '2019-03-01',
               '2019-03-01', '2019-03-01', '2019-03-01', '2019-03-01',
               '2019-03-01', '2019-03-01'],
              dtype='datetime64[ns]', name='Date', length=2295, freq=None)

In [14]:
stocks.index + BMonthEnd()

DatetimeIndex(['2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29',
               ...
               '2019-02-28', '2019-02-28', '2019-02-28', '2019-02-28',
               '2019-02-28', '2019-02-28', '2019-02-28', '2019-02-28',
               '2019-02-28', '2019-02-28'],
              dtype='datetime64[ns]', name='Date', length=2295, freq=None)

In [15]:
stocks.index + QuarterEnd()

DatetimeIndex(['2010-03-31', '2010-03-31', '2010-03-31', '2010-03-31',
               '2010-03-31', '2010-03-31', '2010-03-31', '2010-03-31',
               '2010-03-31', '2010-03-31',
               ...
               '2019-03-31', '2019-03-31', '2019-03-31', '2019-03-31',
               '2019-03-31', '2019-03-31', '2019-03-31', '2019-03-31',
               '2019-03-31', '2019-03-31'],
              dtype='datetime64[ns]', name='Date', length=2295, freq=None)

In [16]:
stocks.index - QuarterEnd()

DatetimeIndex(['2009-09-30', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31',
               ...
               '2018-12-31', '2018-12-31', '2018-12-31', '2018-12-31',
               '2018-12-31', '2018-12-31', '2018-12-31', '2018-12-31',
               '2018-12-31', '2018-12-31'],
              dtype='datetime64[ns]', name='Date', length=2295, freq=None)

In [17]:
stocks.index + YearEnd()

DatetimeIndex(['2010-12-31', '2010-12-31', '2010-12-31', '2010-12-31',
               '2010-12-31', '2010-12-31', '2010-12-31', '2010-12-31',
               '2010-12-31', '2010-12-31',
               ...
               '2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31',
               '2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31',
               '2019-12-31', '2019-12-31'],
              dtype='datetime64[ns]', name='Date', length=2295, freq=None)

## The timeDelta object

In [19]:
timeA = pd.Timestamp('2016-3-31')
timeB = pd.Timestamp('2016-3-20')

In [20]:
timeA - timeB

Timedelta('11 days 00:00:00')

In [21]:
type(timeA - timeB)

pandas._libs.tslibs.timedeltas.Timedelta

In [22]:
type(timeA)

pandas._libs.tslibs.timestamps.Timestamp

In [23]:
timeB - timeA

Timedelta('-11 days +00:00:00')

In [31]:
pd.Timedelta( weeks=5,days = 3, minutes =5,hours = 5)

Timedelta('38 days 05:05:00')

In [32]:
pd.Timedelta("14 days 6 hours 12 minutes")
# weeks dont work if given in string

Timedelta('14 days 06:12:00')

## timeDelta in dataset

In [35]:
shipping = pd.read_csv('ecommerce.csv',index_col = "ID",parse_dates = ["order_date","delivery_date"])

In [36]:
shipping.head(3)

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [38]:
shipping['delivery_time'] = shipping["delivery_date"] - shipping['order_date']

In [39]:
shipping.head(3)

   order_date delivery_date delivery_time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days

In [41]:
shipping['twice_as_long'] = shipping['delivery_date'] + shipping['delivery_time']

In [42]:
shipping.head(3)

   order_date delivery_date delivery_time twice_as_long
ID
1  1998-05-24    1999-02-05      257 days    1999-10-20
2  1992-04-22    1998-03-06     2144 days    2004-01-18
4  1991-02-10    1992-08-26      563 days    1994-03-12

In [43]:
shipping.dtypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
delivery_time    timedelta64[ns]
twice_as_long     datetime64[ns]
dtype: object

In [45]:
mask = shipping['delivery_time'] > '365 days'

In [46]:
shipping[mask]

    order_date delivery_date delivery_time twice_as_long
ID
2   1992-04-22    1998-03-06     2144 days    2004-01-18
4   1991-02-10    1992-08-26      563 days    1994-03-12
5   1992-07-21    1997-11-20     1948 days    2003-03-22
7   1993-09-02    1998-06-10     1742 days    2003-03-18
9   1990-01-25    1994-10-02     1711 days    1999-06-09
10  1992-02-23    1998-12-30     2502 days    2005-11-05
11  1996-07-12    1997-07-14      367 days    1998-07-16
18  1995-06-18    1997-10-13      848 days    2000-02-08
20  1992-10-17    1998-10-06     2180 days    2004-09-24
23  1992-05-30    1999-08-15     2633 days    2006-10-30
26  1996-04-11    1998-05-04      753 days    2000-05-26
32  1990-01-20    1998-07-24     3107 days    2007-01-25
33  1994-09-21    1996-10-12      752 days    1998-11-03
35  1993-09-10    1996-04-28      961 days    1998-12-15
36  1990-05-15    1994-02-14     1371 days    1997-11-16
39  1990-03-26    1993-01-25     1036 days    1995-11-27
41  1992-02-06    1996-05-10     1555 days    2000-08-12
50  1991-05-03    1999-07-17     2997 days    2007-09-30
52  1994-09-02    1997-05-14      985 days    2000-01-24
53  1995-11-29    1998-06-23      937 days    2001-01-15
54  1996-08-07    1998-04-04      605 days    1999-11-30
60  1993-02-14    1995-08-06      903 days    1998-01-25
63  1990-12-22    1995-09-02     1715 days    2000-05-13
64  1990-11-25    1998-05-14     2727 days    2005-10-31
66  1992-09-08    1998-12-29     2303 days    2005-04-19
67  1990-05-04    1993-02-04     1007 days    1995-11-08
70  1994-02-16    1999-11-06     2089 days    2005-07-26
71  1990-11-25    1998-04-06     2689 days    2005-08-16
73  1991-10-01    1993-05-19      596 days    1995-01-05
75  1990-06-25    1996-12-18     2368 days    2003-06-13
..         ...           ...           ...           ...
907 1994-08-11    1998-09-28     1509 days    2002-11-15
908 1993-11-04    1997-02-26     1210 days    2000-06-20
909 1991-01-19    1998-08-22     2772 days    2006-03-25
916 1994-12-03    1997-03-26      844 days    1999-07-18
918 1994-12-29    1996-07-29      578 days    1998-02-27
919 1992-01-25    1993-06-01      493 days    1994-10-07
922 1996-07-06    1998-12-05      882 days    2001-05-05
924 1991-03-17    1996-05-13     1884 days    2001-07-10
926 1990-10-31    1994-04-12     1259 days    1997-09-22
935 1990-09-26    1998-03-07     2719 days    2005-08-16
938 1993-03-24    1995-07-15      843 days    1997-11-04
942 1992-04-14    1997-03-03     1784 days    2002-01-20
943 1991-01-30    1999-12-02     3228 days    2008-10-03
945 1992-10-27    1994-11-03      737 days    1996-11-09
946 1991-07-02    1996-02-23     1697 days    2000-10-16
947 1991-06-18    1999-06-11     2915 days    2007-06-04
951 1991-10-02    1994-04-18      929 days    1996-11-02
953 1991-09-26    1994-05-08      955 days    1996-12-18
956 1995-08-23    1999-01-10     1236 days    2002-05-30
957 1994-10-01    1999-07-25     1758 days    2004-05-17
958 1990-04-26    1997-06-29     2621 days    2004-09-01
972 1990-02-07    1995-11-05     2097 days    2001-08-02
981 1997-01-31    1998-03-04      397 days    1999-04-05
983 1994-12-30    1997-07-29      942 days    2000-02-26
984 1991-07-25    1999-02-09     2756 days    2006-08-27
986 1990-12-10    1992-12-16      737 days    1994-12-23
990 1991-06-24    1996-02-02     1684 days    2000-09-12
991 1991-09-09    1998-03-30     2394 days    2004-10-18
993 1990-11-16    1998-04-27     2719 days    2005-10-06
997 1990-01-04    1991-10-03      637 days    1993-07-01

[394 rows x 4 columns]

In [47]:
shipping['delivery_time'].max()

Timedelta('3583 days 00:00:00')

In [48]:
shipping['delivery_time'].min()

Timedelta('8 days 00:00:00')